@page "/connection_to_kzik"
@using Microsoft.AspNetCore.SignalR.Client;
@using BlazorServer.Data;
@inject NavigationManager NavigationManager;
<h1>Connections</h1>
<table class="connections">
    @foreach (var kz in kziks)
    {
        <tr>
            <td>@kz.Name</td>
            <td>@kz.IP</td>
            <td><input type="checkbox"/></td>
            <td>Disconnecting</td>
        </tr>
    }
</table>

@code {
    private HubConnection _hubConnection;
    private List<Kzik_Info> kziks = new List<Kzik_Info>();
    protected override async Task OnInitializedAsync()
    { 
        _hubConnection = new HubConnectionBuilder()
        .WithUrl(NavigationManager.ToAbsoluteUri("/connect"))
        .WithAutomaticReconnect()
        .Build();

        _hubConnection.On<string,string,bool>("Get",(name, ip, isRunning) =>
            {
                kziks.Add(new Kzik_Info(name,ip,isRunning));
                StateHasChanged();
            });
        await _hubConnection.StartAsync();
    }

}