SDMK_Server/obj/project.assets.json
SDMK_Server/obj/project.nuget.cache
SDMK_Server/obj/SDMK_Server.csproj.nuget.dgspec.json
SDMK_Server/obj/SDMK_Server.csproj.nuget.g.props
SDMK_Server/obj/SDMK_Server.csproj.nuget.g.targets
SDMK_Server/obj/staticwebassets.pack.sentinel
SDMK_Server/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
SDMK_Server/obj/Debug/net6.0/apphost.exe
SDMK_Server/obj/Debug/net6.0/project.razor.json
SDMK_Server/obj/Debug/net6.0/SDMK_Server.AssemblyInfo.cs
SDMK_Server/obj/Debug/net6.0/SDMK_Server.AssemblyInfoInputs.cache
SDMK_Server/obj/Debug/net6.0/SDMK_Server.assets.cache
SDMK_Server/obj/Debug/net6.0/SDMK_Server.csproj.AssemblyReference.cache
SDMK_Server/obj/Debug/net6.0/SDMK_Server.csproj.CoreCompileInputs.cache
SDMK_Server/obj/Debug/net6.0/SDMK_Server.csproj.FileListAbsolute.txt
SDMK_Server/obj/Debug/net6.0/SDMK_Server.dll
SDMK_Server/obj/Debug/net6.0/SDMK_Server.GeneratedMSBuildEditorConfig.editorconfig
SDMK_Server/obj/Debug/net6.0/SDMK_Server.genruntimeconfig.cache
SDMK_Server/obj/Debug/net6.0/SDMK_Server.GlobalUsings.g.cs
SDMK_Server/obj/Debug/net6.0/SDMK_Server.MvcApplicationPartsAssemblyInfo.cache
SDMK_Server/obj/Debug/net6.0/SDMK_Server.pdb
SDMK_Server/obj/Debug/net6.0/SDMK_Server.RazorAssemblyInfo.cache
SDMK_Server/obj/Debug/net6.0/SDMK_Server.RazorAssemblyInfo.cs
SDMK_Server/obj/Debug/net6.0/staticwebassets.build.json
SDMK_Server/obj/Debug/net6.0/staticwebassets.development.json
SDMK_Server/obj/Debug/net6.0/ref/SDMK_Server.dll
SDMK_Server/obj/Debug/net6.0/refint/SDMK_Server.dll
SDMK_Server/obj/Debug/net6.0/scopedcss/Shared/MainLayout.razor.rz.scp.css
SDMK_Server/obj/Debug/net6.0/scopedcss/Shared/NavMenu.razor.rz.scp.css
SDMK_Server/obj/Debug/net6.0/scopedcss/bundle/SDMK_Server.styles.css
SDMK_Server/obj/Debug/net6.0/scopedcss/projectbundle/SDMK_Server.bundle.scp.css
SDMK_Server/bin/Debug/net6.0/appsettings.Development.json
SDMK_Server/bin/Debug/net6.0/appsettings.json
SDMK_Server/bin/Debug/net6.0/SDMK_Server.deps.json
SDMK_Server/bin/Debug/net6.0/SDMK_Server.dll
SDMK_Server/bin/Debug/net6.0/SDMK_Server.exe
SDMK_Server/bin/Debug/net6.0/SDMK_Server.pdb
SDMK_Server/bin/Debug/net6.0/SDMK_Server.runtimeconfig.json
SDMK_Server/bin/Debug/net6.0/SDMK_Server.staticwebassets.runtime.json
SDMK_Server/obj/Debug/net6.0/scopedcss/Pages/Connections_to_kzik.razor.rz.scp.css
